.text-block {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
}

.text-block__id {
    background-color: #f5f5f5;
    padding: 5px;
    margin-top: 10px;
}

.text-block-body {
    margin-right: 100px;
}

.text-block__edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.rank-block {
    display: flex;
    align-items: center;
}

.rank-content {
    padding: 10px
}


.text-block__vote-button_ChosenUp {
    background-color: green;
}


.text-block__vote-button_ChosenDown {
    background-color: red;
}
